.content {
    max-width: 500px;
    margin: auto;
    background-color: #caf0f8;
    text-align: center;
    padding: 2% 2%;
}
button {
    background-color: #9d0208;
    color: #bdb2ff;
}
button:hover {
    background-color: #76c893;
    color: #dc2f02;
}

.error
{
    color: red;
}